@font-face {
  font-family: "Inter";
  src: url(../fontes/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Engravers Gothic";
  src: url(../fontes/Engravers\'\ Gothic\ Regular/);
}