@font-face {
  font-family: "Inter";
  src: url(../fontes/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.principal {
  display: flex;
  place-items: center;
  flex-direction: row;
}

.orange-logo {
  background-color: #EB651E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.tela-sucesso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.tela-login, .tela-senha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

#titulo {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.campos {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

input#email, input#senha, input#novaSenha {
  border: none;
  border-bottom: .05rem solid rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
  padding: 5px;
  width: 300px;
  height: 30px;
}

input#email:hover, input#senha:hover, input#novaSenha:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.4s;
}

.olhar {
  cursor: pointer;
  color: #BFDBF9;
}

.esqueci-senha a {
  color: #ADB3B3;
  margin: 10px 18px;
}

#btn-entrar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px 18px;
  width: 150px;
  border: none;
  background-color: #EB651E;
  padding: 10px;
  color: white;
  border-radius: 80px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .principal {
    flex-direction: column;
  }

  .orange-logo {
    width: 100%;
    height: 100px;
  }

  #titulo {
    font-size: 24px;
    text-align: center;
  }

  .tela-login {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }

  .campos {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  input#email, input#senha, input#novaSenha {
    width: 200px;
    height: 20px;
  }

  .esqueci-senha {
    text-align: left;
  }

  .esqueci-senha > a {
    margin: 20px 0px;
    text-align: left;
  }
  
  #btn-entrar {
    margin: 10px 0px;
  }
}
