body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar-fixa {
  padding: 20px 10px;
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #EB651E;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
} 

.sidebar-fixa .item {
  color: white;
  margin: 5px 0px;
  text-decoration: none;
  font-size: 28px;
  padding: .5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* border-bottom: 2px solid rgba(255, 255, 255, .6); */
}

.item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 0 .5rem;
}

.btn-menu {
  display: flex;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.frase {
  display: none;
}

.frase.ativo {
  display: inline;
}

.traco {
  border-top: 3px solid;
  width: 16px;
  color: white;
}

.traco::before, .traco::after {
  content: " ";
  display: block;
  height: 3px;
  width: 16px;
  background-color: white;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

.main {
  margin-left: 60px;
  background-color: #f7f7f7;
}

.seta {
  background-color: #EB651E;
  color: white;
  padding: .5rem;
  cursor: pointer;
}

.navbar {
  background-color: white;
  display: flex;
  height: 50px;
  padding: 10px 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mini-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.mini-menu a {
  text-decoration: none;
}

.tarefas, .atendimento {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: .5px solid black;
  text-align: center;
  border-radius: 20px;
  color: black;
  gap: .5rem;
  font-size: 12px;
}

.tarefas {
  padding: 7px;
}

.atendimento {
  padding: 10px;
}

.number {
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 3px;
}

.fa-whatsapp {
  font-size: 32px;
  color: #3EBD4E;
}

.nome-usuario {
  font-size: 12px;
}

.menu-dropdown {
  display: none;
}

.menu-dropdown.ativo {
  text-align: center;
  display: block;
  position: absolute;
  padding: 10px;
  right: 0px;
  top: 72px;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  font-size: 12px;
}

.lista-dropdown {
  list-style-type: none;
  text-align: left;
  padding: .5rem;
}

.link-drop {
  color: black;
}

.link-drop:hover {
  color: #EB651E;
  text-decoration: underline;
}

.linha-laranja {
  border: .1px solid #EB651E;
  width: 100%;
}

.conteudo-main-painel {
  padding: 0px 20px;
  display: grid;
  grid-template-areas: 
      "ia pesquisa-ia ia";
  grid-template-columns: 270px 700px auto;
  gap: 5px;
  background-color: #f7f7f7;
}

.flex-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.ia, div.pesquisa-ia {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.introducao-ia {
  display: flex;
  flex-direction: column;
}

.introducao-ia span {
  font-size: 12px;
  margin: 5px 0;
}

.fa-microchip {
  font-size: 32px;
}

div.pesquisa-ia {
  display: flex;
  align-items: center;
}

#campo-ia {
  display: block;
  padding: 0px;
  width: 650px;
  height: 40px;
  font-size: 12px;
  border: none;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ADB3B3;
}

.lupa {
  font-size: 12px;
}

.tabelas-vídeo {
  display: grid;
  grid-template-areas: 
      "tabelas video";
  grid-template-columns: 970px auto;
  gap: 5px;
  background-color: #f7f7f7;
}

.tabelas, .video {
  margin: 0px 20px;
}

.tabelas {
  display: grid;
  grid-template-areas: "tabela tabela";
  grid-template-columns: auto auto;
  text-align: center;
  gap: 1rem;
}

.tabela {
  margin: .1rem 0;
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .1);
  text-align: center;
}

.titulo-tabela {
  color: #EB651E;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.linha-tabela-grossa {
  border: 2px solid #EB651E;
}

.grid-tabela {
  display: grid;
  grid-template-areas: "indices data var-mensal";
  grid-template-columns: auto auto auto;
}

.indices, .datas, .vars-mensais, .valores, .vars-diarias, .pontos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titulo-inf {
  font-weight: bold;
  font-size: 16px;
}

.indice, .data, .var-mensal, .valor, .var-diaria, .ponto {
  margin: 10px 0px;
  font-size: 12px;
}

.video {
  background-color: #888888;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  color: #EB651E;
  font-size: 50px;
  cursor: pointer;
}

.noticias-banner {
  margin: 10px 20px;
  display: grid;
  grid-template-areas: "titulo-noticias noticias";
  grid-template-columns: 300px auto;
}

.titulo-noticias, .noticias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.titulo-noticias {
  padding: 10px 20px;
  background-color: #EB651E;
  color: white;
}

.titulo-noticias h1 {
  font-weight: bold;
  font-size: 16px;
}

.noticias {
  background-color: #346284;
  opacity: .7;
}

.noticias a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}


