.conteudo {
  margin: 0 20px;
}

.titulo-descricao {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#titulo a {
  color: black;
}

#titulo i {
  font-size: 24px;
}

p {
  margin: 10px 0px;
}

ul {
  list-style-type: disc;
  margin: 0 20px;
}

li {
  margin: 10px 0px;
}

input#senhaAtual, input#novaSenha1, input#novaSenha2 {
  border: none;
  border-bottom: .05rem solid rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
  padding: 5px;
  width: 300px;
  height: 30px;
}

input#senhaAtual:hover, input#novaSenha1:hover, input#novaSenha2:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.4s;
}

#btn-definir {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px 0px;
  width: 210px;
  text-align: center;
  border: none;
  background-color: #EE7121;
  padding: 10px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.olhar1, .olhar2, .olhar3 {
  cursor: pointer;
  color: #346284;
}

@media (max-width: 800px) {

  .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #titulo {
    font-size: 24px;
    text-align: left;
    margin: 10px;
  }

  .tela-senha {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }

  .campos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  p, ul > li {
    text-align: left;
    margin: 10px;
    line-height: 1.5rem;
  }

  input#email {
    width: 260px;
  }
  
  input#senha, input#novaSenha {
    width: 240px;
    height: 20px;
  }

  input#senhaAtual, input#novaSenha1, input#novaSenha2 {
    width: 240px;
    height: 20px;
  }

  #btn-definir {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px 30px;
  }
}