.titulo-descricao {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#titulo a {
  color: black;
}

#titulo i {
  font-size: 24px;
}

p {
  margin: 10px 0px;
}

ul {
  list-style-type: disc;
  margin: 0 20px;
}

li {
  margin: 10px 0px;
}

#btn-definir {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px 0px;
  width: 210px;
  text-align: center;
  border: none;
  background-color: #EE7121;
  padding: 10px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 800px) {

  .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #titulo {
    font-size: 24px;
    text-align: center;
  }

  .tela-senha {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }

  .campos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  ul > li {
    text-align: left;
    margin: 10px 30px;
  }

  input#email {
    width: 320px;
  }
  
  input#senha, input#novaSenha {
    width: 300px;
    height: 20px;
  }

  #btn-definir {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px 30px;
  }
}